<div class="align-items-end text-right mb-2" >
    <p-confirm-dialog-ng (confirm)="save()" (cancel)="cancel()" *ngIf="canEdit">
        <ng-container body>
            {{ 'message.STD00009' | translate }}
        </ng-container>
        <ng-container btn>
            <p-button icon="pi pi-check" label="{{ 'label.ALL.Save' | translate }}"></p-button>
        </ng-container>
    </p-confirm-dialog-ng>
</div>

<p-breadcrumb
    [model]="[{ label: 'label.DBMT04.ManageVariableGroups' | translate}, { label: 'label.DBMT04.ManageVariableValues' | translate}, { label: 'label.ALL.Detail' | translate}]">
</p-breadcrumb>

<card header="{{ 'label.ALL.Detail' | translate }}" class="p-fluid">
    <form #menu [formGroup]="dbListValueDataSource.form">
        <div class="grid mt-2">
            <div class="col-3 md:col-3 lg:col-3 xl:col-3">
                <label htmlFor="groupCode">{{ 'label.DBMT04.GroupCode' | translate }}</label>
                <small class="p-error">*</small>
                <textbox id="groupCode" formControlName="groupCode"></textbox>
            </div>
            <div class="col-3 md:col-3 lg:col-3 xl:col-3">
                <label htmlFor="value">{{ 'label.DBMT04.Value' | translate }}</label>
                <small class="p-error">*</small>
                <textbox id="value" formControlName="value"></textbox>
            </div>
            <div class="col-2 md:col-2 lg:col-2 xl:col-2">
                <label htmlFor="sequence">{{ 'label.DBMT04.Sequence' | translate }}</label>
                <number id="sequence" formControlName="sequence"></number>
            </div>
            <div class="col-2 md:col-2 lg:col-2 xl:col-2">
                <label htmlFor="parentGroupCode">{{ 'label.DBMT04.ParentGroupCode' | translate }}</label>
                <textbox id="parentGroupCode" formControlName="parentGroupCode"></textbox>
            </div>
            <div class="col-2 md:col-2 lg:col-2 xl:col-2">
                <label htmlFor="parentValue">{{ 'label.DBMT04.ParentValue' | translate }}</label>
                <textbox id="parentValue" formControlName="parentValue"></textbox>
            </div>
        </div>
        <div class="grid mt-2">
            <!-- <div class="col-3">
                <label htmlFor="interfaceMappingCode">{{ 'label.DBMT04.InterfaceMappingCode' | translate }}</label>
                <textbox id="interfaceMappingCode" formControlName="interfaceMappingCode"></textbox>
            </div> -->
            <div class="col-6 md:col-6 lg:col-6 xl:col-6">
                <label htmlFor="description">{{ 'label.ALL.Description' | translate }}</label>
                <textbox id="description" formControlName="description"></textbox>
            </div>
            <div class="col-6 md:col-6 lg:col-6 xl:col-6">
                <label htmlFor="color">{{ 'label.DBMT04.Color' | translate }}</label>
                <textbox id="color" formControlName="color"></textbox>
            </div>
        </div>
        <div class="grid mt-2">
            <div class="col-3 md:col-3 lg:col-3 xl:col-3">
                <!-- <p-checkbox id="active" [bindValue]="true" [bindLabel]="'label.ALL.Active' | translate"
                    formControlName="active"></p-checkbox> -->
            </div>
        </div>
    </form>
</card>
<br>
<card header="{{ 'label.ALL.Detail' | translate }}" class="p-fluid">
    <div class="grid mt-2">
        <div class="col-12 md:col-12 lg:col-12 xl:col-12">
            <p-tabView>
                <p-tabPanel *ngFor="let language of dbListValueLangDataSources; let index = index"
                    header="{{language.model.langName}}">
                    <ng-template #content pTemplate="content">
                        <form #tab [formGroup]="language.form">
                            <label htmlFor="valueText">{{ 'label.DBMT04.ValueName' | translate }}</label>
                            <small class="p-error">*</small>
                            <textbox id="valueText" formControlName="valueText"></textbox>
                        </form>
                    </ng-template>
                </p-tabPanel>
            </p-tabView>
        </div>
    </div>
</card>