<div class="flex flex-column gap-2">
    @if(axis == "vertical"){
    @if(hasLabel){
    <ng-container *ngTemplateOutlet="label"></ng-container>
    }
    <p-inputGroup>
        <p-inputGroupAddon>
            <i class="pi pi-paperclip"></i>
        </p-inputGroupAddon>
        <input type="text" [ngClass]="hasErrors ? 'ng-invalid ng-dirty': ''" class="cursor-pointer" pInputText
            [value]="content.name" [placeholder]="placeholder" [readonly]="true" [disabled]="!content.id"
            (click)="view()">

        @if (content.id) {
        <button type="button" class="p-button-danger" (click)="delete()" [disabled]="disabled">
            <i class="pi pi-trash font-bold"></i>
        </button>
        }

        <button type="button" [label]="'label.ALL.Upload' | translate" (click)="input.click()"
            [disabled]="disabled"></button>
    </p-inputGroup>
    }
    @else {
    <div class="grid">
        <div class="col-12 mb-2 md:col-2 md:mb-0 flex align-items-center">
            <ng-container *ngTemplateOutlet="label"></ng-container>
        </div>
        <div class="col-12 md:col-10">
            <p-inputGroup>
                <p-inputGroupAddon>
                    <i class="pi pi-paperclip"></i>
                </p-inputGroupAddon>
                <input type="text" [ngClass]="hasErrors ? 'ng-invalid ng-dirty': ''" class="cursor-pointer" pInputText
                    [value]="content.name" [placeholder]="placeholder" [readonly]="true"
                    [disabled]="!content.id" (click)="view()">

                @if (content.id) {
                <button type="button" class="p-button-danger" (click)="delete()" [disabled]="disabled">
                    <i class="pi pi-trash font-bold"></i>
                </button>
                }

                <button type="button" [label]="'label.ALL.Upload' | translate" (click)="input.click()"
                    [disabled]="disabled"></button>
            </p-inputGroup>
        </div>
    </div>
    }
</div>
<small *ngIf="helpText" [class]="helpTextClass">{{helpText}}</small>
@if(hasErrors){
<small class="text-red-600" *ngIf="control.hasError('required') || control.hasError('empty')">
    {{ 'message.STD00007' | translate }}
</small>
}

<ng-template #label>
    <label>
        @if(required){
        <span class="text-red-600">* </span>
        }
        <ng-content></ng-content>
    </label>
</ng-template>

<input #input type="file" [accept]="fileType" class="hidden" [readonly]="true" (change)="add($event)" />