<div class="align-items-end text-right mb-2">
  <p-confirm-dialog-ng (confirm)="save()" (cancel)="cancel()">
    <ng-container body>
      {{ "message.STD00009" | translate }}
    </ng-container>
    <ng-container btn>
      <p-button
        icon="pi pi-check"
        label="{{ 'label.ALL.Save' | translate }}"
      ></p-button>
    </ng-container>
  </p-confirm-dialog-ng>
</div>

<p-breadcrumb
  [model]="[
    { label: 'label.DBMT06.SetupCountry' | translate },
    { label: 'label.ALL.Detail' | translate }
  ]"
>
</p-breadcrumb>

<card header="{{ 'label.ALL.Detail' | translate }}" class="p-fluid">
  <form [formGroup]="dbCountryForm?.form">
    <div class="grid mt-2">
      <div class="col-3 md:col-3 lg:col-3 xl:col-3">
        <textbox id="countryCode" formControlName="countryCode">{{
          "label.DBMT06.CountryCode" | translate
        }}</textbox>
      </div>
      <div class="col-3 md:col-3 lg:col-3 xl:col-3">
        <textbox id="description" formControlName="description">{{
          "label.ALL.Description" | translate
        }}</textbox>
      </div>
      <div class="col-3 md:col-3 lg:col-3 xl:col-3">
        <label class="mb-2 flex flex-column gap-2">
          {{ "label.DBMT06.Region" | translate }}
        </label>
        <p-dropdown
          optionLabel="territoryName"
          optionValue="territoryName"
          [options]="regions"
          formControlName="region"
          [showClear]="true"
          [filter]="true"
          class="p-dropdown-custom"
        >
          <ng-template pTemplate="selectedItem" let-selectedOption>
            {{ selectedOption?.territoryName }}
          </ng-template>
        </p-dropdown>
      </div>
      <div class="col-3 md:col-3 lg:col-3 xl:col-3">
        <textbox id="telCountryCode" formControlName="telCountryCode">{{
          "label.DBMT06.TelCountryCode" | translate
        }}</textbox>
      </div>
    </div>
    <div class="grid mt-2">
      <div class="col-3 md:col-3 lg:col-3 xl:col-3">
        <textbox id="trunkPrefix" formControlName="trunkPrefix">{{
          "label.DBMT06.TrunkPrefix" | translate
        }}</textbox>
      </div>
      <div class="col-3 md:col-3 lg:col-3 xl:col-3">
        <label class="mb-2 flex flex-column gap-2">
          {{ "label.DBMT06.CurrencyData" | translate }}
        </label>
        <p-dropdown
          optionLabel="currencyData"
          optionValue="currencyData"
          [options]="currencies"
          formControlName="currencyData"
          [showClear]="true"
          [filter]="true"
          class="p-dropdown-custom"
        >
          <ng-template pTemplate="selectedItem" let-selectedOption>
            {{ selectedOption?.currencyData }}
          </ng-template>
        </p-dropdown>
      </div>

      <div class="col-3 md:col-3 lg:col-3 xl:col-3">
        <textbox
          id="interfaceMappingCode"
          formControlName="interfaceMappingCode"
          >{{ "label.DBMT06.InterfaceMappingCode" | translate }}</textbox
        >
      </div>
    </div>
    <div class="grid mt-2">
      <div class="col-3 md:col-3 lg:col-3 xl:col-3">
        <checkbox
          id="active"
          [label]="'label.ALL.Active' | translate"
          formControlName="active"
        ></checkbox>
      </div>
    </div>
  </form>
</card>

<card header="{{ 'label.ALL.Detail' | translate }}" class="p-fluid">
  <!-- <form [formGroup]="dbCountryForm?.form"> -->
  <form [formGroup]="dbCountryForm?.form">
    <div class="col-12 md:col-12 lg:col-12 xl:col-12">
      <textbox id="countryName" formControlName="countryName">{{
        "label.DBMT06.CountryName" | translate
      }}</textbox>
    </div>
  </form>
</card>
