<p-table #table [value]="rows" [paginator]="paginator" styleClass="p-datatable-gridlines"
    [rows]="page" [showCurrentPageReport]="showCurrentPageReport" responsiveLayout="scroll"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="rowsPerPageOptions">
    <ng-template pTemplate="caption" *ngIf="captionTemplate">
        <ng-container *ngTemplateOutlet="captionTemplate">
        </ng-container>
    </ng-template>
    <ng-template pTemplate="header">
        <ng-container *ngTemplateOutlet="headerTemplate">
        </ng-container>
    </ng-template>
    <ng-template pTemplate="body" let-data>
        <ng-container *ngTemplateOutlet="bodyTemplate; context:{$implicit: data}">
        </ng-container>
    </ng-template>
    <ng-template pTemplate="summary" *ngIf="summaryTemplate">
        <ng-container *ngTemplateOutlet="summaryTemplate">
        </ng-container>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td [colSpan]="42" style="text-align: center;">{{ 'label.ALL.NotFound' | translate }}</td>
        </tr>
    </ng-template>
</p-table>