<div class="flex flex-column gap-2">
    @if(!floatLabel){
    @if(axis == "vertical"){
    @if(hasLabel){
    <ng-container *ngTemplateOutlet="label"></ng-container>
    }
    <p-chips [(ngModel)]="value" [inputStyleClass]="class" [placeholder]="placeholder"
        [ngClass]="hasErrors ? 'ng-invalid ng-dirty': ''" [disabled]="disabled" [showClear]="showClear"
        [allowDuplicate]="allowDuplicate" (onAdd)="onDataChange(this.value)" (onRemove)="onDataChange(this.value)"
        (onClear)="onDataChange(this.value)">
    </p-chips>
    }
    @else {
    <div class="grid">
        <div class="col-12 mb-2 md:col-2 md:mb-0 flex align-items-center">
            <ng-container *ngTemplateOutlet="label"></ng-container>
        </div>
        <div class="col-12 md:col-10">
            <p-chips [(ngModel)]="value" [inputStyleClass]="class" [placeholder]="placeholder"
                [ngClass]="hasErrors ? 'ng-invalid ng-dirty': ''" [disabled]="disabled" [showClear]="showClear"
                [allowDuplicate]="allowDuplicate" (onAdd)="onDataChange(this.value)"
                (onRemove)="onDataChange(this.value)" (onClear)="onDataChange(this.value)">
            </p-chips>
        </div>
    </div>
    }
    }
    @else {
    <span class="p-float-label">
        <p-chips [(ngModel)]="value" [inputStyleClass]="class" [placeholder]="placeholder"
            [ngClass]="hasErrors ? 'ng-invalid ng-dirty': ''" [disabled]="disabled" [showClear]="showClear"
            [allowDuplicate]="allowDuplicate" (onAdd)="onDataChange(this.value)" (onRemove)="onDataChange(this.value)"
            (onClear)="onDataChange(this.value)">
        </p-chips>
        <ng-container *ngTemplateOutlet="label"></ng-container>
    </span>
    }
</div>
<small *ngIf="helpText" [class]="helpTextClass">{{helpText}}</small>
@if(hasErrors){
<small class="text-red-600" *ngIf="control.hasError('required') || control.hasError('empty')">
    {{ 'message.STD00007' | translate }}
</small>
}

<ng-template #label>
    <label>
        @if(required){
        <span class="text-red-600">* </span>
        }
        <ng-content></ng-content>
    </label>
</ng-template>