<div class="flex flex-column gap-2">
    @if(!floatLabel){
    @if(axis == "vertical"){
    @if(hasLabel){
    <ng-container *ngTemplateOutlet="label"></ng-container>
    }
    @if(icon){
    <span [ngClass]="iconPosition == 'left' ? 'p-input-icon-left' : 'p-input-icon-right'">
        <i [class]="icon"></i>
        <p-password [(ngModel)]="value" [inputStyleClass]="class" [disabled]="disabled" [feedback]="feedback"
            [placeholder]="placeholder" [inputStyleClass]="hasErrors ? 'ng-invalid ng-dirty': ''"
            [toggleMask]="toggleMask" [mediumRegex]="mediumRegex" [strongRegex]="strongRegex"
            (input)="onTextChange($event)"></p-password>
    </span>
    }
    @else {
    <p-password [(ngModel)]="value" [inputStyleClass]="class" [disabled]="disabled" [feedback]="feedback"
        [placeholder]="placeholder" [inputStyleClass]="hasErrors ? 'ng-invalid ng-dirty': ''" [toggleMask]="toggleMask"
        [mediumRegex]="mediumRegex" [strongRegex]="strongRegex" (input)="onTextChange($event)"></p-password>
    }
    }
    @else {
    <div class="grid">
        <div class="col-12 mb-2 md:col-2 md:mb-0 flex align-items-center">
            <ng-container *ngTemplateOutlet="label"></ng-container>
        </div>
        <div class="col-12 md:col-10">
            @if(icon){
            <span [ngClass]="iconPosition == 'left' ? 'p-input-icon-left' : 'p-input-icon-right'">
                <i [class]="icon"></i>
                <p-password [(ngModel)]="value" [inputStyleClass]="class" [disabled]="disabled" [feedback]="feedback"
                    [placeholder]="placeholder" [inputStyleClass]="hasErrors ? 'ng-invalid ng-dirty': ''"
                    [toggleMask]="toggleMask" [mediumRegex]="mediumRegex" [strongRegex]="strongRegex"
                    (input)="onTextChange($event)"></p-password>
            </span>
            }
            @else {
            <p-password [(ngModel)]="value" [inputStyleClass]="class" [disabled]="disabled" [feedback]="feedback"
                [placeholder]="placeholder" [inputStyleClass]="hasErrors ? 'ng-invalid ng-dirty': ''"
                [toggleMask]="toggleMask" [mediumRegex]="mediumRegex" [strongRegex]="strongRegex"
                (input)="onTextChange($event)"></p-password>
            }
        </div>
    </div>
    }
    }
    @else {
    @if(icon){
    <span class="p-float-label" [ngClass]="iconPosition == 'left' ? 'p-input-icon-left' : 'p-input-icon-right'">
        <i [class]="icon"></i>
        <p-password [(ngModel)]="value" [inputStyleClass]="class" [disabled]="disabled" [feedback]="feedback"
            [placeholder]="placeholder" [inputStyleClass]="hasErrors ? 'ng-invalid ng-dirty': ''"
            [toggleMask]="toggleMask" [mediumRegex]="mediumRegex" [strongRegex]="strongRegex"
            (input)="onTextChange($event)"></p-password>
        <ng-container *ngTemplateOutlet="label"></ng-container>
    </span>
    }
    @else {
    <span class="p-float-label">
        <input pInputText [value]="value" [class]="class" class="w-full"
            [ngClass]="hasErrors ? 'ng-invalid ng-dirty': ''" [disabled]="disabled" (blur)="onTouched()"
            (input)="onTextChange($event)" />
        <ng-container *ngTemplateOutlet="label"></ng-container>
    </span>
    }
    }
</div>
<small *ngIf="helpText" [class]="helpTextClass">{{helpText}}</small>
@if(hasErrors){
<small class="text-red-600" *ngIf="control.hasError('required') || control.hasError('empty')">
    {{ 'message.STD00007' | translate }}
</small>
<ng-container *ngIf="control?.hasError('pattern')">
    <div class="text-red-600">
        <ng-content select=".invalid-pattern">
        </ng-content>
    </div>
</ng-container>
}

<ng-template #label>
    <label>
        @if(required){
        <span class="text-red-600">* </span>
        }
        <ng-content></ng-content>
    </label>
</ng-template>